.graph-container {
    position: absolute;
    width: 100%;
    height: 150px;
    bottom: 0;
    padding: 0;
    border-radius: 8px;
    z-index: 9;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    & .button {
        --size: 40px;
        cursor: pointer;
        transition: all 0.2s ease-in;
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translate(0%, -50%) scale(1);
        width: var(--size);
        height: var(--size);
        background: white;
        border-radius: 50%;
        z-index: 9;
        &:nth-child(1) {
            top: 20%;
        }
        &:hover {
            transform: translate(0%, -50%) scale(1.1);
        }
    }
    .canvas-container {
        height: 100px;
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        width: 100%;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }
    &.actif {
        .canvas-container {
            opacity: 1;
        }
    }
}