@import "./reset.scss";
@import "./loader.scss";
@import "./plyr.scss";
@import "./graph.scss";
@import "./player.scss";
@import "./map.scss";
html {
    --background: rgb(245, 248, 252);
    --primary: #414151;
    --shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.08);
    font-family: Eina;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -0.015em;
    font-family: "Open Sans";
    background: var(--background);
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.hide {
    opacity: 0;
}

.d-none {
    display: none;
}

.shadow {
    box-shadow: var(--shadow);
}

.t-left {
    text-align: left !important;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.flex-center {
    flex: 1 1 auto;
}

.main {
    transition: opacity 0.3s ease-in 0.2s;
}

.icon path {
    fill: var(--primary);
}

.content {
    margin: auto;
    text-align: center;
    padding: 20px;
    max-width: 800px;
    h1 {
        font-size: 36px;
        line-height: 44px;
        font-weight: 700;
        letter-spacing: -0.03em;
        color: var(--primary);
    }
    p {
        font-size: 18px;
        line-height: 32px;
        font-weight: 400;
        color: var(--primary);
    }
    &.explanations p {
        background: white;
        padding: 10px;
        border-radius: 6px;
        margin-top: 5px;
    }
}

.avatar {
    padding: 10px 20px;
    border-radius: 30px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    float: right;
    margin: 20px;
    background: white;
    .img-container {
        display: inline-block;
        border-radius: 50%;
        overflow: hidden;
        height: 30px;
        img {
            max-height: 100%;
            object-fit: cover;
        }
    }
    .info {
        padding-left: 10px;
        color: var(--primary);
        letter-spacing: 1.1;
    }
}