.loader-container {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    background: var(--background);
    z-index: 10;
    transition: opacity 0.3s ease;
}

@keyframes bouncing-loader {
    to {
        opacity: 0.1;
        transform: translate3d(0, -1rem, 0);
    }
}

.bouncing-loader {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bouncing-loader>div {
    width: 1rem;
    height: 1rem;
    margin: 3rem 0.2rem;
    background: var(--primary);
    border-radius: 50%;
    animation: bouncing-loader 0.6s infinite alternate;
}

.bouncing-loader>div:nth-child(2) {
    animation-delay: 0.2s;
}

.bouncing-loader>div:nth-child(3) {
    animation-delay: 0.4s;
}