#map-container {
    position: absolute;
    z-index: 9;
    right: 0;
    top: 0;
    border-radius: 6px;
    margin: 5px;
    box-shadow: var(--shadow);
    transition: all 0.05s ease 0s;
    & .button {
        pointer-events: auto;
        --size: 30px;
        position: absolute;
        width: var(--size);
        height: var(--size);
        border-radius: 50%;
        z-index: 12;
        top: 3px;
        left: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: white;
        cursor: pointer;
    }
}