.player-container {
	max-width: 800px;
	margin: 0 auto;
	position: relative;
	#speedSpan {
		background: white;
		border-radius: 6px;
		padding: 5px 20px;
		position: absolute;
		bottom: 150px;
		right: 5px;
		z-index: 9;
		font-weight: 700;
		letter-spacing: -0.03em;
		color: var(--primary);
		font-size: 12px;
		line-height: 12px;
		padding: 5px 10px;
	}
}

.plyr {
	border: none;
	border-radius: 8px;
	box-shadow: var(--shadow);
}

.plyr__controls {
	display: none;
}

.plyr--video .plyr__control.plyr__tab-focus,
.plyr--video .plyr__control:hover,
.plyr--video .plyr__control[aria-expanded="true"],
.plyr--video .plyr__control.plyr__tab-focus,
.plyr__control--overlaid {
	background: var(--primary) !important;
	box-shadow: var(--shadow) !important;
}
